In [18]:
import pandas as pd

In [19]:
locations_df = pd.read_csv('../Data/Seleccion/locations.csv', index_col = 0)

In [20]:
# Observamos si hay valores nulos y en que atributos los hay
locations_df.isnull().any()

EPISODE_ID    False
EVENT_ID      False
RANGE          True
LATITUDE       True
LONGITUDE      True
LAT2           True
LON2           True
dtype: bool

In [21]:
#Cambiamos nombres a las columnas de LATITUD y LONGITUD a LAT1 y LON1
locations_df['LAT1'] = locations_df['LATITUDE']
locations_df['LON1'] = locations_df['LONGITUDE']
locations_df = locations_df.drop(['LATITUDE', 'LONGITUDE'], 1)

In [22]:
# Ponemos como valor por defecto en RANGE un radio de 0
locations_df['RANGE'] = locations_df['RANGE'].fillna(0)

In [38]:
#Pintamos las localizaciones para observar si hay valores incorrectos, que esten fuera del estado de Indiana
import matplotlib.pyplot as plt

plt.scatter(locations_df['LAT1'], locations_df['LON1'])
plt.show()

In [24]:
#Observamos valores nulos de iniciales
locations_df['LAT1'].isnull().sum()

2476

In [25]:
#Observamos valores nulos de iniciales
locations_df['LON1'].isnull().sum()

2476

In [26]:
#Observamos valores nulos de iniciales
locations_df['LAT2'].isnull().sum()

7700

In [27]:
#Observamos valores nulos de iniciales
locations_df['LON2'].isnull().sum()

7700

In [28]:
#Eliminamos aquellos puntos que tiene un valor LAT1 mayor que 42
locations_df = locations_df[locations_df['LAT1'] < 42]

In [29]:
# Observamos que hay un error en muchos atributos de LAT2 Y LON2, analizamos un poco mas en profundidad
plt.scatter(locations_df['LAT2'], locations_df['LON2'])
plt.show()

In [30]:
# Observamos que muchos elementos no se han introducido correctamente y se procede a preprocesarlos
locations_df[['LAT2', 'LON2']]

            LAT2       LON2
1558   3756466.0  8723640.0
1559   3756292.0  8723718.0
1560   3755722.0  8722164.0
1561   3755902.0  8722176.0
1562   3756232.0  8722842.0
1563   3755338.0  8754012.0
1564   3754522.0  8755002.0
1565   3754726.0  8755200.0
1566   3755506.0  8754444.0
1567   3824264.0  8733684.0
1568   3824204.0  8732676.0
1569   3823214.0  8732202.0
1570   3823292.0  8733654.0
1571   3823910.0  8735034.0
1572   3824426.0  8734704.0
1573   3824000.0  8743800.0
1574   3821390.0  8746434.0
1575   3822002.0  8746908.0
1576   3824408.0  8744712.0
1577    387872.0  8756466.0
1578    388310.0  8755632.0
1579    389222.0  8755890.0
1580    389846.0  8754198.0
1581    387974.0  8755128.0
1582   3829652.0  8729304.0
1583   3829544.0  8732274.0
1584   3830006.0  8732034.0
1585   3829976.0  8730480.0
1586   3829922.0  8716686.0
1587   3831002.0  8716524.0
...          ...        ...
80760  3754816.0  8755170.0
80761  3754696.0  8754888.0
80762  3755476.0  8753976.0
80763  3755470.0  8754504.0
80764  3823928.0  8734758.0
80765  3824426.0  8734674.0
80766  3824156.0  8731416.0
80767  3823406.0  8731932.0
81474  3758620.0  8741922.0
81475  3758800.0  8733000.0
81722  3848000.0  8539000.0
81723  3847982.0  8538478.0
81724  3847538.0  8538376.0
81725  3847496.0  8539060.0
81823  3934200.0  8512000.0
81824  3940800.0  8510800.0
81825  3939000.0   853000.0
81826  3934200.0   854800.0
81827  3943200.0   851200.0
81828  3940800.0  8452200.0
81829  3933000.0  8455200.0
81830  3936000.0     8500.0
81831  3912000.0  8519800.0
81832   397200.0   857800.0
81833  3858800.0  8513200.0
81834     3900.0  8522200.0
81835   394200.0   853000.0
81836  3916800.0   851800.0
81837  3915000.0  8452800.0
81965   397200.0  8452200.0

[22108 rows x 2 columns]

In [31]:
def reajustar_puntos_lat(x):
    x_s = str(x).replace('.', '')
    x_s = x_s[:2] + '.' + x_s[2:]
    return float(x_s)

def reajustar_puntos_lon(x):
    x_s = str(x).replace('.', '')
    x_s = x_s[:2] + '.' + x_s[2:]
    if x_s[0] != '-':
        x_s = '-' + x_s
    return float(x_s)

In [32]:
locations_df['LAT2'] = locations_df['LAT2'].fillna(0.0)
locations_df['LAT2'] = locations_df['LAT2'].apply(reajustar_puntos_lat)
locations_df['LON2'] = locations_df['LON2'].fillna(0.0)
locations_df['LON2'] = locations_df['LON2'].apply(reajustar_puntos_lon)

In [33]:
# Observamos que hay un error en muchos atributos de LAT2 Y LON2, analizamos un poco mas en profundidad
plt.scatter(locations_df['LAT2'], locations_df['LON2'])
plt.show()

In [34]:
#Eliminamos los outliers
locations_df = locations_df[locations_df['LAT2'] > 30]

In [35]:
# Observamos que hay un error en muchos atributos de LAT2 Y LON2, analizamos un poco mas en profundidad
plt.scatter(locations_df['LAT2'], locations_df['LON2'])
plt.show()

In [36]:
#Se observa que los puntos de LAT2 y LON2 estan mal introducidos y no se puede hacer nada al respecto. Se
# intentara utilizar los puntos de posicion de la tabla de details

#Documentar que en el preprocesamiento de estos datos se observo que no era posible su uso debido a el excesivo ruido
# en las latitudes y longitudes del fin de cada tormenta, y que por ello se utilizaran las de details, aunque
# se pierda algo de informacion, sus posiciones presentan menos ruido.

#De estos datos tan solo se utilizara el valor range e LON1 y LAT1 porque es más completo que el de details

In [37]:
locations_df = locations_df[['EVENT_ID', 'EPISODE_ID', 'RANGE', 'LAT1', 'LON1']]
locations_df.to_csv('../Data/Preproceso/locations.csv')