In [8]:
import pandas as pd
import csv
import numpy as np

In [9]:
f = open('../Data/Preproceso/storms_final_preproceso.csv')
csv_f = csv.reader(f)

In [10]:
cabeceras = csv_f.next()

In [11]:
cabeceras

['EVENT_ID',
 'BEGIN_DATE_TIME',
 'BEGIN_LAT',
 'BEGIN_LON',
 'DAMAGE_CROPS',
 'DAMAGE_PROPERTY',
 'DEATHS_DIRECT',
 'DEATHS_INDIRECT',
 'END_DATE_TIME',
 'END_LAT',
 'END_LON',
 'EPISODE_ID',
 'EVENT_TYPE',
 'INJURIES_DIRECT',
 'INJURIES_INDIRECT',
 'MAGNITUDE',
 'RANGE',
 'TOR_F_SCALE']

In [12]:
tabla_pre = dict()

for row in csv_f:
    ep = dict(zip(cabeceras, row))
    if row[11] in tabla_pre:
        tabla_pre[row[11]].append(ep)
    else:
        tabla_pre[row[11]] = [ep]

In [13]:
tabla_trans = []

for ep_id in tabla_pre:
    ep_trans = {'EPISODE_ID':  0,
                'BEGIN_DATE' : 0,
                'END_DATE' :   0,
                'LAT' :        0,
                'LON' :        0,
                'RANGE':       0,
                'LLUVIA':      0,
                'VIENTO':      0,
                'TORNADO':     0,
                'GRANIZO':     0,
                'NIEVE':       0,
                'T. ELECTRICA':0                 
    }
    
    episodio = tabla_pre[ep_id]
    for evento in episodio: 
        if ep_trans['BEGIN_DATE'] == 0:
            ep_trans['BEGIN_DATE'] = np.datetime64(evento['BEGIN_DATE_TIME'])
        elif ep_trans['BEGIN_DATE'] >= np.datetime64(evento['BEGIN_DATE_TIME']):
            ep_trans['BEGIN_DATE'] = np.datetime64(evento['BEGIN_DATE_TIME'])
            
        if ep_trans['END_DATE'] == 0:
            ep_trans['END_DATE'] = np.datetime64(evento['END_DATE_TIME'])
        elif ep_trans['END_DATE'] <= np.datetime64(evento['END_DATE_TIME']):
            ep_trans['END_DATE'] = np.datetime64(evento['END_DATE_TIME'])
        
        if evento['EVENT_TYPE'] == 'Heavy Rain' and ep_trans['LLUVIA'] == 0:
            ep_trans['LLUVIA'] = 1
        elif evento['EVENT_TYPE'] == 'Flood' and ep_trans['LLUVIA'] <= 1:
            ep_trans['LLUVIA'] = 2
        elif evento['EVENT_TYPE'] == 'Flash Flood' and ep_trans['LLUVIA'] <= 2:
            ep_trans['LLUVIA'] = 3
        elif evento['EVENT_TYPE'] == 'Strong Wind' and ep_trans['VIENTO'] <= evento['MAGNITUDE']:
            ep_trans['VIENTO'] = 1
        elif evento['EVENT_TYPE'] == 'High Wind' and ep_trans['VIENTO'] <= evento['MAGNITUDE']:
            ep_trans['VIENTO'] = 2
        elif evento['EVENT_TYPE'] == 'Thunderstorm Wind' and ep_trans['VIENTO'] <= evento['MAGNITUDE']:
            ep_trans['VIENTO'] = 3
        elif evento['EVENT_TYPE'] == 'Tornado':
            ep_trans['TORNADO'] = int(evento['TOR_F_SCALE'][-1]) + 1 
        elif evento['EVENT_TYPE'] == 'Hail' and ep_trans['GRANIZO'] < evento['MAGNITUDE']:
            ep_trans['GRANIZO'] = evento['MAGNITUDE']
        elif evento['EVENT_TYPE'] == 'Winter Storm':
            ep_trans['NIEVE'] = 1
        elif evento['EVENT_TYPE'] == 'Heavy Snow':
            ep_trans['NIEVE'] = 1
        elif evento['EVENT_TYPE'] == 'Lightning':
            evento['T. ELECTRICA'] = 1
        else:
            #print evento['EVENT_TYPE']
            pass
        ep_trans['EPISODE_ID'] = ep_id
    tabla_trans.append(ep_trans)

/home/neverhope/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:20: DeprecationWarning: elementwise == comparison failed; this will raise an error in the future.
/home/neverhope/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:25: DeprecationWarning: elementwise == comparison failed; this will raise an error in the future.

In [14]:
df = pd.DataFrame(tabla_trans)
df = df.set_index('EPISODE_ID')
df.to_csv('../Data/Transformacion/transformacion.csv')
df

,BEGIN_DATE,END_DATE,GRANIZO,LAT,LLUVIA,LON,NIEVE,RANGE,T. ELECTRICA,TORNADO,VIENTO
EPISODE_ID,,,,,,,,,,,
73398,2013-06-01 00:04:00,2013-06-01 05:45:00,0,0,3,0,0,0,0,0,3
65098,2012-06-29 15:06:00,2012-06-29 16:04:00,0,0,0,0,0,0,0,0,3
4025,2007-05-15 13:50:00,2007-05-15 17:41:00,0,0,0,0,0,0,0,1,3
22667,2008-09-12 18:25:00,2008-09-12 18:30:00,0,0,0,0,0,0,0,0,3
22660,2008-09-08 21:04:00,2008-09-09 02:02:00,1.75,0,0,0,0,0,0,0,3
61456,2012-03-02 13:10:00,2012-03-02 14:11:00,0.88,0,0,0,0,0,0,0,0
14290,2008-02-05 22:40:00,2008-02-06 04:30:00,1.0,0,3,0,0,0,0,0,3
1211378,2006-05-10 17:22:00,2006-05-10 17:27:00,0,0,0,0,0,0,0,1,0
73088,2013-04-19 05:00:00,2013-04-30 23:59:00,0,0,2,0,0,0,0,0,0
1211371,2006-05-10 17:08:00,2006-05-10 17:08:00,0,0,0,0,0,0,0,1,0
1211372,2006-05-10 17:17:00,2006-05-10 17:17:00,0,0,0,0,0,0,0,1,0
32836,2009-05-30 18:52:00,2009-05-30 21:27:00,1.75,0,0,0,0,0,0,0,3
1211375,2006-05-10 16:08:00,2006-05-10 16:17:00,0,0,0,0,0,0,0,1,0
1211377,2006-05-10 16:58:00,2006-05-10 17:02:00,0,0,0,0,0,0,0,1,0
75542,2013-06-27 16:25:00,2013-06-27 20:56:00,2.0,0,0,0,0,0,0,0,3
65279,2012-06-16 14:40:00,2012-06-16 20:05:00,1.75,0,0,0,0,0,0,0,3
61195,2012-04-01 20:20:00,2012-04-01 22:30:00,2.0,0,0,0,0,0,0,0,0
61190,2012-03-30 15:04:00,2012-03-30 19:30:00,1.75,0,2,0,0,0,0,0,3
104447,2016-04-13 08:00:00,2016-04-20 08:00:00,0,0,2,0,0,0,0,0,0
25380,2008-12-25 20:00:00,2008-12-27 11:34:00,0,0,2,0,0,0,0,0,0
3772,2007-03-01 00:00:00,2007-03-31 23:59:00,0,0,2,0,0,0,0,0,0
3771,2007-03-25 16:30:00,2007-03-27 17:38:00,0,0,2,0,0,0,0,0,0
3770,2007-03-16 21:20:00,2007-03-19 20:54:00,0,0,2,0,0,0,0,0,0
1184414,2005-02-13 05:00:00,2005-02-23 05:00:00,0,0,2,0,0,0,0,0,0
1184413,2005-02-15 00:01:00,2005-02-26 18:00:00,0,0,2,0,0,0,0,0,0
32014,2009-06-11 15:18:00,2009-06-11 16:57:00,0.75,0,0,0,0,0,0,0,3
1219870,2006-08-10 13:35:00,2006-08-10 14:18:00,0.75,0,0,0,0,0,0,0,3
41833,2010-07-01 00:00:00,2010-07-05 18:00:00,0,0,2,0,0,0,0,0,0
1201292,2005-11-28 12:50:00,2005-11-28 12:50:00,0,0,0,0,0,0,0,0,3
1201296,2005-11-15 03:05:00,2005-11-15 09:30:00,0,0,3,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...
67358,2012-07-27 14:55:00,2012-07-27 16:46:00,0,0,0,0,0,0,0,0,3
52504,2011-05-24 22:31:00,2011-05-25 23:59:00,4.25,0,3,0,0,0,0,4,3
44897,2010-10-26 07:42:00,2010-10-26 10:08:00,0,0,0,0,0,0,0,2,3
44892,2010-06-21 08:02:00,2010-06-21 12:04:00,0,0,3,0,0,0,0,0,0
44893,2010-06-22 00:37:00,2010-06-22 08:30:00,0,0,3,0,0,0,0,0,3
50733,2011-05-23 17:30:00,2011-05-23 18:03:00,1.0,0,0,0,0,0,0,1,3
95319,2015-04-17 16:00:00,2015-04-20 01:00:00,0,0,2,0,0,0,0,0,0
45,2006-10-04 18:59:00,2006-10-04 19:55:00,1.0,0,0,0,0,0,0,0,3
40,2006-10-02 09:10:00,2006-10-02 17:31:00,0.88,0,0,0,0,0,0,0,3
1569,2007-01-13 12:00:00,2007-01-27 12:00:00,0,0,2,0,0,0,0,0,0
30084,2009-05-13 13:30:00,2009-05-14 10:45:00,0,0,3,0,0,0,0,0,3
30082,2009-05-01 01:03:00,2009-05-01 08:00:00,0,0,3,0,0,0,0,0,0
30083,2009-05-07 20:16:00,2009-05-07 20:18:00,0.88,0,0,0,0,0,0,0,0
18067,2008-06-08 13:21:00,2008-06-08 13:22:00,0,0,0,0,0,0,0,0,3
15270,2008-05-02 08:00:00,2008-05-02 08:07:00,0.88,0,0,0,0,0,0,0,0
61673,2012-05-04 20:23:00,2012-05-04 22:30:00,1.25,0,3,0,0,0,0,0,0
8557,2007-07-19 16:45:00,2007-07-19 17:00:00,0,0,0,0,0,0,0,0,3
8555,2007-07-26 13:08:00,2007-07-26 13:31:00,1.25,0,0,0,0,0,0,0,0
89571,2014-08-19 14:05:00,2014-08-19 20:01:00,0.75,0,0,0,0,0,0,0,3
76897,2013-07-21 18:15:00,2013-07-21 20:09:00,0,0,1,0,0,0,0,0,0
39212,2010-05-27 13:22:00,2010-05-27 14:09:00,0,0,0,0,0,0,0,0,3
87819,2014-07-01 00:00:00,2014-07-01 01:31:00,0.75,0,0,0,0,0,0,2,3
15071,2008-02-05 04:15:00,2008-02-07 10:00:00,0,0,3,0,0,0,0,0,0
39218,2010-04-07 21:31:00,2010-04-07 21:31:00,0,0,0,0,0,0,0,0,3
87816,2014-06-30 19:26:00,2014-06-30 23:55:00,1.25,0,0,0,0,0,0,2,3
87760,2014-06-23 14:43:00,2014-06-23 16:44:00,0.75,0,0,0,0,0,0,0,3
1585,2007-01-01 00:00:00,2007-01-28 14:00:00,0,0,2,0,0,0,0,0,0
1215474,2006-07-03 19:10:00,2006-07-03 19:10:00,0,0,0,0,0,0,0,0,3
50424,2011-04-01 18:34:00,2011-04-01 18:52:00,1.0,0,0,0,0,0,0,0,0
65526,2012-07-18 21:33:00,2012-07-18 21:52:00,0,0,0,0,0,0,0,0,3